/* エラー */
h1.error-message {
    font-family: var(--font-en);
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
}

p.error-message {
    font-family: var(--font-base);;
    margin-left: auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

:root {
    --header-height: 60px;
    --font-base: "Noto Sans JP", sans-serif;
    --font-en: "Lexend", sans-serif;
}

main {
    padding-top: var(--header-height);
}


/* ヘッダー */
header {
    top: 0;
    height: var(--header-height);
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.main-header {
    display: flex;
    background-color: #fff;
    align-items: center;
}

.main-header-list {
    margin: 0;
}

.main-header a {
    text-decoration: none;
    color: inherit;
}

.main-header-title {
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-family: var(--font-en);
}

.main-header-content {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

/* フッター */
.main-footer {
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    text-align: center;
    font-family: var(--font-base);
    font-size: 0.9rem;
    color: #dddddd;
    background-color: #000;
    text-align: center;
}

.main-footer-text {
    font-family: var(--font-en);
    font-weight: 530;
}

/* 区切り線 */
hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
}


/* 紹介 */
.main-about {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
}

h1.main-about-name {
    font-family: var(--font-en);
    font-size: 3rem;
    font-weight: 640;
    margin-top: 2rem;
}

p.main-about-me {
    font-family: var(--font-base);
    font-size: 1rem;
    text-align: center;
}

.main-about-access {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.main-about-btn {
    font-family: var(--font-en);
    font-size: 0.9rem;
    font-weight: 450;
    padding: 0.4rem 1.3rem;
    border: none;
    border-radius: 6px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.main-about-btn:hover {
    background-color: #e6e6e6;
    color: #292929;
}

@media screen and (max-width: 480px) {
    .main-about-access {
        flex-direction: column;
        align-items: center;
    }

    .main-about-btn {
        width: 100%;
        text-align: center;
    }
}

/* メイン */
.main-content {
    display: flex;
    width: 1700px;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.main-content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-list {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.main-content-link {
    width: 100%;
    margin-left: 5px;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.main-content-link:hover {
    text-decoration: underline;
    text-decoration-color: #000;
}

.main-content-title {
    font-family: var(--font-base);
    font-size: 22px;
    text-align: center;
}

.main-content-hr {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.main-content-link-img {
    width: 75px;
    height: 45px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #969696;
}

.main-content-link-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 0;
}


.main-content-link-title {
    font-family: var(--font-base);
    font-size: 1rem;
    margin: 0;
    text-align: left;
    text-decoration: none;
    color: #000;
    min-width: 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-content-link-date {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    text-decoration: none;
    color: #3a3a3a;
    margin-right: auto;
}

.main-content-detail {
    display: inline-block;
    font-family: var(--font-en);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.6rem 0.6rem;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    margin: 10px auto 0;
}

@media screen and (max-width: 1380px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .main-content-section {
        width: 100%;
    }

    .main-content-list {
        max-width: 100%;
    }
}

/* 記事・ニュースetc... */
main.news {
    padding-top: 30px;
}

.news-main {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.news-main-date {
    font-family: "Lexend", "Noto Sans JP", sans-serif;
    font-weight: 450;
    font-size: 0.9rem;
    color: #555555;
    margin-bottom: 10px;
}

.news-content a {
    font-family: var(--font-base);
    font-weight: 650;
    color: #000;
}

.news-content p {
    font-family: var(--font-base);
    font-weight: 450;
    font-size: 1rem;
}

.news-content section {
    margin-top: 60px;
}

.news-content-img {
    border-radius: 8px;
    border: #969696 1px solid;
}

.codeblock {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e2e2e2;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.95rem;
}

.news-content ul {
    padding-left: 30px;
}

.news-ps {
    font-family: var(--font-base);
    font-size: 0.9rem;
    color: #3a3a3a;
}

@media screen and (max-width: 480px) {
    main.news {
        padding: 10px;
    }
}